/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003106}}
html {
  font-size: 100%;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000322}}
#page {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
#page:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000322}}
  #page {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000331}}
#page-wrap {
  -moz-box-shadow: rgba(27, 59, 80, 0.8) 0 0 3rem;
  -webkit-box-shadow: rgba(27, 59, 80, 0.8) 0 0 3rem;
  box-shadow: rgba(27, 59, 80, 0.8) 0 0 3rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000334}}
div#content {
  background-color: #D3D3D3;
  padding-left: 1rem;
  padding-right: 1rem;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000341}}
body.single div#content {
  padding-left: 0;
  padding-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000346}}
header#masthead .site-branding {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0.29851%;
}
@media (min-width: 680px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000346}}
  header#masthead .site-branding {
    width: 39.42308%;
    float: left;
    margin-right: 0.96154%;
  }
}
@media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000346}}
  header#masthead .site-branding {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 680px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000353}}
  header#masthead aside#header-space {
    width: 39.42308%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000353}}
  header#masthead aside#header-space {
    width: 100%;
    float: left;
    margin-right: 0.96154%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000360}}
body.single #content, body.page #content {
  background-color: #F5F5F5;
}

@media (min-width: 680px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000363}}
  #primary {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 74.6988%;
    float: left;
  }
}
@media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000363}}
  #primary {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000368}}
body.single #primary {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 680px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000371}}
  #secondary {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 24.09639%;
    float: right;
    margin-right: 0;
  }
}
@media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000371}}
  #secondary {
    width: 100%;
    float: left;
    margin-right: 1.20482%;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000382}}
.home article.post, .archive article.post {
  background-color: #F5F5F5;
  position: relative;
  padding-top: 1.5em;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000389}}
.home article.post .entry-meta, .archive article.post .entry-meta {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #006983;
  color: #ffffff;
  font-size: 0.60938em;
  line-height: 2.46154em;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\0000390}}
.home article.post .entry-meta a, .archive article.post .entry-meta a {
  color: #ffffff;
  border-bottom: 0.5px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003107}}
body.search main, body.tag main {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  background-color: #FFFFFF;
  list-style: outside none none;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #F5F5F5;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003113}}
body.search main article header, body.tag main article header {
  padding-left: 2.38095%;
  padding-right: 2.38095%;
  background-color: #00bbe9;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003116}}
body.search main article header a, body.tag main article header a {
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003118}}
body.search main article div.entry-summary p, body.tag main article div.entry-summary p {
  padding-left: 2.38095%;
  padding-right: 2.38095%;
}

/*--------------------------------------------------------------
 header-space

$breakpoint-to-rems: true;
$bp-mobile: max-width 640px;
$bp-screen: 680px;
$bp-largescreen: 880px;
--------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003129}}
.widget_search {
  margin-right: 0.29851%;
  margin-top: 1.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.5em;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003133}}
.widget_search input[type="text"] {
  line-height: 1.5em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  vertical-align: middle;
  max-width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003139}}
.widget_search input[type="image"] {
  line-height: 1.5em;
  padding-top: 0.45em;
  padding-bottom: 0.3em;
  padding-left: 1rem;
  vertical-align: middle;
  max-height: 3rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003149}}
.site-header {
  background-color: #FFF;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003155}}
#masthead {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
#masthead:after {
  content: " ";
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003164}}
.partner-logos {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003166}}
.partner-logos .logo {
  width: 16%;
  float: left;
  margin-right: 0.8%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003167}}
.partner-logos .logoother {
  width: 32.8%;
  float: right;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003168}}
.partner-logos .logoother p {
  font-size: 0.625em;
  line-height: 2.4em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003173}}
#main-box {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
#main-box:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003176}}
  #main-box ul li {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 680px) and (max-width: 880px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003178}}
  #main-box ul li {
    width: 50%;
    float: left;
    padding-left: 0.79365%;
    padding-right: 0.79365%;
    min-height: 29rem;
    max-height: 29rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
  #main-box ul li:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
  #main-box ul li:nth-child(2n + 2) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003182}}
  #main-box ul li:nth-child(3n) {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    min-height: auto;
  }
}
@media (min-width: 880px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003190}}
  #main-box ul li {
    width: 32.25806%;
    float: left;
    min-height: 29rem;
    max-height: 29rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
  #main-box ul li:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
  #main-box ul li:nth-child(3n + 2) {
    margin-left: 33.87097%;
    margin-right: -100%;
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/language\/susy\/_gallery\.scss}line{font-family:\0000366}}
  #main-box ul li:nth-child(3n + 3) {
    margin-left: 67.74194%;
    margin-right: -100%;
    clear: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003198}}
#main-long {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
#main-long:after {
  content: " ";
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003200}}
#main-long aside.widget {
  -moz-border-radius: 4px / 4px;
  -webkit-border-radius: 4px 4px;
  border-radius: 4px / 4px;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  background-color: #FFFFFF;
  list-style: outside none none;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003208}}
#secondary aside.widget ul {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003209}}
#secondary aside.widget li {
  margin-bottom: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003213}}
#secondary form.contact-form input.email {
  width: 79.80769%;
  float: left;
  margin-right: 0.96154%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003217}}
#secondary form.contact-form p.contact-submit {
  width: 19.23077%;
  float: right;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003219}}
#secondary form.contact-form p.contact-submit input[type="submit"] {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 0.75em;
  line-height: 2em;
  box-sizing: border-box;
  width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003237}}
#secondary form.contact-form label {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003242}}
.home article.post header {
  margin-top: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003250}}
footer.site-footer {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/susy-2\.2\.2\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
footer.site-footer:after {
  content: " ";
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003253}}
footer.site-footer aside#footer-space {
  width: 100%;
  float: left;
  margin-right: 0.8%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003256}}
footer.site-footer #footer-content {
  background-color: #D3D3D3;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2.38095%;
  padding-right: 2.38095%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003262}}
footer.site-footer .site-info {
  width: 16%;
  float: right;
  margin-right: 0;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003266}}
footer.site-footer .footnote {
  background-color: #485865;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 3em;
  padding-left: 0.29851%;
  padding-right: 0.29851%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003272}}
footer.site-footer .footnote .footer-logo {
  width: 16%;
  float: left;
  margin-right: 0.8%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003276}}
footer.site-footer .footnote .address, footer.site-footer .footnote .copyright {
  width: 66.4%;
  float: left;
  margin-right: 0.8%;
  color: #e5e7ea;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/samuel\/Work\/VCS\%20Assist\/themes\/vcsassist\/scss\/screen\.scss}line{font-family:\00003281}}
footer.site-footer .footnote .social {
  width: 16%;
  float: right;
  margin-right: 0;
  text-align: center;
}
