/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "grids";
@import "variables-site/variables-site";
@import "mixins/mixins-master";


#page {
	@include container(100rem);
}
#primary {
	@include span(12 of 16);
	@include susy-breakpoint(max-width 640px, 4) {
		@include span(100%);
	};
}
#secondary {
	@include span(4 of 16 alpha last);
	@include susy-breakpoint(max-width 640px, 2) {
		@include span(100%);
	};
}


/*--------------------------------------------------------------
 header-space

$breakpoint-to-rems: true;
$bp-mobile: max-width 640px;
$bp-screen: 680px;
$bp-largescreen: 880px;
--------------------------------------------------------------*/
.site-header {
	background-color: $color__header;
}

div#content {
	background-color: $color__page;
}

#masthead {
	@include container(5);
	.site-branding {
		@include breakpoint($bp-screen) {
			@include span(2 of 5 first);
		};
		@include breakpoint($bp-mobile) {
			@include span(5 of 5);
		};
	}
	#header-space {
		@include container(3);
		.widget_sp_image {
			@include testing(red);
			@include gallery(1 of 3);
		};
		@include breakpoint($bp-screen) {
			@include span(3 of 5 last);
		};
		@include breakpoint($bp-mobile) {
			@include span(5 of 5);
		};
	}
}


//asides - #main-box and #main-long widget areas

#main-box {
	@include container(4);

	@include breakpoint($bp-mobile) {
		ul li {
			@include span(2 of 2);
		};
	};
	@include breakpoint($bp-screen) {
		ul li {
			@include gallery(2 of 4);
		};
	};
	@include breakpoint($bp-largescreen) {
		ul li {
			@include gallery(1 of 4);
		};
	};
}
//#main-long {
//	@include container(4);
//	@include breakpoint(50em) {
//		@include container(8);
//	}
//	@include breakpoint(80em) {
//		@include container(12);
//	}
//}



// breakpoint example


$basic: 543px;
$pair: 456px 794px;

#foo {
  content: 'No Media Queries';

  @include breakpoint($basic) {
    content: 'Basic Media Query';
	background-color: red;
  }

  @include breakpoint($pair) {
  	background-color: blue;
    content: 'Paired Media Query';
  }
}