/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";
//@import "grids";
@import "variables-site/variables-site";
@import "mixins/mixins-master";



$page-container: (
	columns: 4,
	gutters: 0.05,
	math: fluid,
	output: float,
	gutter-position: inside,
);
	

#page {
	@include container($susy 110rem content-box);
		padding-left: 5rem;
		padding-right: 5rem;
	@include breakpoint($bp-mobile) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	};
}
#page-wrap {
	@include box-shadow(rgba($vcsblue, 0.8) 0 0 3rem);
	}
div#content {
	background-color: $color__page;
	//@include gutters(0.05rem outside);
	padding-left: gutter(2rem inside);
	padding-right: gutter(2rem inside);
	word-wrap: break-word;
}
body.single div#content {
	@include gutters(0 $page-container);
}

header#masthead	{
	.site-branding {
		@include rhythm-margins(1, 1);
		margin-left: gutter();
	    background: rgb(255, 2555, 255); /* The Fallback */
	    background: rgba(255, 2555, 255, 0.7);
		@include breakpoint($bp-screen) {@include span(2 of 5)};
		@include breakpoint($bp-mobile) {@include span(5 of 5)};
	}

	aside#header-space {
		background-image: url('../img/cityscape-crop.jpg');
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: bottom;
		@include breakpoint($bp-screen) {height: 300px;};
		@include breakpoint($bp-largescreen) {height: 345px;};
		div.widget-serach {
			@include breakpoint($bp-mobile) {@include span(5 of 5)};
			@include breakpoint($bp-screen) {@include span(2 of 5 at 3 last);};
		}
	}
}

// whole post conent
body.single #content, body.page #content {background-color: $vcsgrey-light;};

// primary content container for pages with sidebar
#primary {
	@include breakpoint(min-width $bp-screen) {@include span(3 of 4 border-box no-gutters);}
	@include breakpoint($bp-mobile) { @include span(4 of 4 border-box omega)};
}
// primary content without sidebar
body.single #primary {
	@include span(4 of 4 border-box);
}
#secondary {
	@include breakpoint($bp-screen) { @include span(1 of 4 0.05 border-box last);}
	@include breakpoint($bp-mobile) { @include span(4 of 4 first);};
	
//	@include span(1 of 4 no-gutters border-box  last);
//	@include susy-breakpoint(max-width 640px, 2) {
//		@include span(100%);
//	};
}

// homepage widgets content
.home article.post, .archive article.post, {
	background-color: $vcsgrey-light;
	position: relative;
	@include padding-leader(1);
	padding-left: 0;
	padding-right: 0;
	overflow: hidden;
	.entry-meta {
		a {
			color: $color__text-alt;
			border-bottom: 0.5px dotted;	
		}
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: $vcs__teal-blue;
		color: $color__text-alt;
		@include adjust-font-size-to(9.75px);
//		TODO	SET MAX HEIGHT HERE
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
}

body.search main, body.tag main {
	@include widgetify;	
	background-color: $vcsgrey-light;
	@include rhythm-margins(1);
	padding: 0;
	article {
		header {@include gutters(1 inside);
			background-color: lighten($vcs__teal-blue, 20);
			color: $color__text-alt;
			a {color: $color__text-alt;}
		}
		div.entry-summary p {@include gutters(1 inside);}
	}
}
/*--------------------------------------------------------------
 header-space

$breakpoint-to-rems: true;
$bp-mobile: max-width 640px;
$bp-screen: 680px;
$bp-largescreen: 880px;
--------------------------------------------------------------*/
.widget_search {
	@include gutter;
	@include rhythm;
	text-align: right;
	input[type="text"] {
		@include adjust-leading-to(1);
		@include rhythm-padding(0.4, 0.2);
		vertical-align: middle;
		max-width: 100%;
	}
	input[type="image"] {
		@include adjust-leading-to(1);
		@include rhythm-padding(0.3, 0.2);
		padding-left: 1rem;
		vertical-align: middle;
		max-height: 3rem;
		
	}
}

.site-header {
	background-color: $color__header;
}



#masthead {
	@include container(5);
	@include padding-trailer(1.2);
	ul.nav-menu {
	
	}

}
// partner logo (at the moment in the header)
.partner-logos {
	text-align: center;
	.logo { @include span(1 of 6);}
	.logoother {@include span(2 of 6 last);
		p{@include adjust-font-size-to(10px);}}
}

//asides - #main-box and #main-long widget areas

#main-box {
	@include container(3 $page-container);
	@include trailer(1);
	@include breakpoint($bp-mobile) {ul li {@include span(2 of 2)}};
	@include breakpoint($bp-screen $bp-largescreen) {
		ul li {
			@include gallery(1.5 of 3 $page-container);
			min-height: 29rem;
			max-height: 29rem;
			&:nth-child(3n) {
				//the thhird widget - which opens up to two columns
				@include span(3 of 3);
				min-height: auto;
		    }
		}
	}
	@include breakpoint($bp-largescreen) {
		ul li {
			@include gallery(1 of 3);
			min-height: 29rem;
			max-height: 29rem;	
		}
	}
}

#main-long {
	@include container(4);
	aside.widget {
		@include widgetify;
	}
	
}

#secondary {
	aside.widget {
		ul { @include span(1 of 1 border-box); }; //border box sizing because of defaults set elsewhere,the border radius was pushing over the whole size of the aside
		li { margin-bottom: 1rem;};
	}
	//newsletter signup form
	form { 
		input.email, p#subscribe-email {
			@include span(4 of 5);
//			@include adjust-font-size-to(12px);
		}
		p.contact-submit, p#subscribe-submit {
			@include span(1 of 5 last no-gutters);
			input[type="submit"] {
				color: rgba(0, 0, 0, .8);
				cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
				-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
				@include adjust-font-size-to(12px);
				box-sizing: border-box;
				width: 100%;
				padding-left: 0.4rem;
				padding-right: 0.4rem;
				
				
//				box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
//				border: 1px solid;
//				line-height: 1;
//				padding: .6em 1em .4em;
//				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
			} //input
		} //p.contact-submit
		label {	display: none;}
	}; //form.form-contact
}

// front page posts
.home article.post header {
	@include margin-leader(1);
	
}



// Footer
footer.site-footer {
	@include container(6 border-box);
	position: relative;
	aside#footer-space {
		@include span(6 of 6 first);
	}
	#footer-content {
		background-color: $color__page;
		@include span(6 of 6 at 6);
		@include gutters(1 inside);
	}

	.site-info {
		@include span(1 of 6 at 6);
		text-align: right;
	}
	.footnote {
		background-color: #485865;
		@include span(6 of 6);
		@include padding-trailer(2);
		padding-left: gutter();
		padding-right: gutter();
		.footer-logo {
			@include span(1 of 6);
			text-align: center;
		}
		.address, .copyright {
			@include span(4 at 2 of 6);
			color: #e5e7ea;
			text-align: center;			
		}
		.social {
			@include span(1 at 6 of 6 last);
			text-align: center;
		}
	}
}
