/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "grids";
@import "variables-site/variables-site";
@import "mixins/mixins-master";

$page-container: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
);
	

#page {
	@include container($susy 100rem content-box);
		padding-left: 4rem;
		padding-right: 4rem;
	@include breakpoint($bp-mobile) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	};
}
#page-wrap {
	@include box-shadow(rgba(black, 0.8) 0 0 3rem);
	}
div#content {
	background-color: $color__page;
	padding-left: 1rem;
	padding-right: 1rem;
}
#primary {
	@include span(12 of 16 no-gutters border-box);
	@include susy-breakpoint(max-width 640px, 4) {
		@include span(100%);
	};
}
#secondary {
	@include span(4 of 16 no-gutters border-box  last);
	@include susy-breakpoint(max-width 640px, 2) {
		@include span(100%);
	};
}


/*--------------------------------------------------------------
 header-space

$breakpoint-to-rems: true;
$bp-mobile: max-width 640px;
$bp-screen: 680px;
$bp-largescreen: 880px;
--------------------------------------------------------------*/
.site-header {
	background-color: $color__header;
}



#masthead {
	@include container(5);
	.site-branding {
		text-align: center;
		@include breakpoint($bp-screen) {
			@include span(2 of 5 first);
		};
		@include breakpoint($bp-mobile) {
			@include span(5 of 5);
		};
	}
	#header-space {
		@include container(3);
		.widget_sp_image {
			@include gallery(1 of 3);
		};
		@include breakpoint($bp-screen) {
			@include span(3 of 5 last);
		};
		@include breakpoint($bp-mobile) {
			@include span(5 of 5);
		};
	}
}


//asides - #main-box and #main-long widget areas

#main-box {
	@include container(4);
//	padding-left: 1rem;
//	padding-right: 1rem;

	@include breakpoint($bp-mobile) {
		ul li {
			@include span(2 of 2);
		};
	};
	@include breakpoint($bp-screen) {
		ul li {
			@include gallery(2 of 4 0.03);
		};
	};
	@include breakpoint($bp-largescreen) {
		ul li {
			@include gallery(1 of 4 0.1);
		};
	};
}

#main-long {
	@include container(4);
}

#secondary aside.widget {
	ul { @include span(1 of 1 border-box); }; //border box sizing because of defaults set elsewhere,the border radius was pushing over the whole size of the aside
	li { margin-bottom: 1rem;};
}
