/* line 14, /Users/samuel/Work/VCS Assist/themes/vcsassist/sass/_grids.scss */
body {
  max-width: 80em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, /Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
body:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 15, /Users/samuel/Work/VCS Assist/themes/vcsassist/sass/_grids.scss */
nav {
  width: 25%;
  float: left;
  margin-right: 1.69492%;
}
