// Rem output with px fallback
@mixin font-size($sizeValue: 1.6) {
	font-size: ($sizeValue * 10) + px;
	font-size: $sizeValue + rem;
}

// Center block
@mixin center-block {
	display: block;
	margin: 0 auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

@mixin widget-outline {
	@include border-radius(4px, 4px);
	border: 1px solid $color__widget-border;
	box-sizing: border-box;
}

@mixin widgetify {
	@include widget-outline;
	background-color: $color__background-widget;
	list-style: outside none none;
	overflow: hidden;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}


@mixin testing($colourval) {
	background-color: $colourval !important;
}
@mixin box-sizing($value) {
	-moz-box-sizing: $value;
	box-sizing: $value;
}
