
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	@include margin-trailer(1.5);
	ul {
		@include span(5 of 5);
		background-color: $vcsgrey-dark;
		list-style: none;
		margin: 0;
		padding-left: 0;
		float: right;
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		background-color: $vcsgrey-dark;
		&.current_page_item {
			background-color: $vcsgrey;
			a {color: $color__text-screen;}
			&:hover > a {background-color: $vcsgrey;}
		};
		float: left;
		position: relative;
		&:hover > a {
			background-color: $vcsgreen;
		}
	}
	a {
		display: block;
		text-decoration: none;
		color: $color__text-alt;
		padding: 0 1rem;
		border-right: darken($color__background-widget, 25%);
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

//$bp- mobile: max-width 640px;
//$bp- screen: 680px;
//$bp- largescreen: 880px;



@include breakpoint($bp-mobile){
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
};

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
body.single {
	article footer span {
		@include gutters(1em inside);
		display: block;
		font-weight: bold;
		a {
			font-weight: normal;
		}
	}
	nav.post-navigation {
		margin: 0;
		@include gutters(2em inside);
		@include adjust-font-size-to(24px);
	}
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
