$vcsgreen: #69BE28;
$vcsorange: #EE9500;
$vcsblue: #1B3B50;
$vcsblue-light: #97BCD0;
$vcsgrey: #D3D3D3;
$vcsgrey-dark: #5e6a71;
$vcsgrey-light: #F5F5F5;

$vcs__teal-blue:  #006983;



$oldvcsgreen: #4FB847;
$oldvcsorange: #EE9500;
$oldvcsblue: #1B3B50;
$oldvcsblue-light: #97BCD0;
$oldvcsgrey: #D3D3D3;



$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-widget: #FFFFFF;

$color__header: #FFF;
$color__page: $vcsgrey;
$color__footer: #1B3B50;


$color__text-screen: $vcsblue;
$color__text-alt: #ffffff;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $vcs__teal-blue;
$color__link-visited: $vcs__teal-blue;
$color__link-hover: adjust-lightness($vcs__teal-blue, 10);
$color__text-main: #1B3B50;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__widget-border: adjust-lightness($vcsgrey, -10);
$color__selected: $vcsgrey-light;
