p {
	@include adjust-font-size-to(16px);
}

.home {
	.entry-content p {
		@include adjust-font-size-to(16px);
	}
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include adjust-font-size-to(1.5rem);
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
//	@include font-size(1.5);
	font-family: $font__code;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

// Widget typer face and copy
.widget ul li {
	@include adjust-leading-to(0.5, 10px);
	p { @include adjust-font-size-to(12px);
		@include gutters(1.5rem inside);
	}
	p.post-date {
		@include adjust-font-size-to(9px);
	}
	a.post-title {
		@include adjust-font-size-to(14px);
		font-weight: bold;
	}
};

footer {
	.site-info, .partner-logos p { @include adjust-font-size-to(9px);}
	}

 div.entry-content {
	p {
		@include gutters(10rem inside);
		@include adjust-font-size-to(16px, 1.5);
//		@include testing(red);
		@include trailer(1.5);
	}
	blockquote {
		@include gutters(15rem inside);
		font-style: italic;
	}
}