h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__heading, sans-serif;
}
h1 {
	@include adjust-font-size-to(2.5rem);
}
h2 {
	@include adjust-font-size-to(2rem);
}
h3 {
	@include adjust-font-size-to(1.8rem);
}
h4 {
	@include adjust-font-size-to(1.3rem);
}

h2.site-description {
	@include adjust-font-size-to(0.9rem);
//	font-weight: bold;
	font-style: italic;
	color: $color__text-input;
	text-align: left;
}
.home {
	h1.entry-title {
	@include adjust-font-size-to(36px);
	}
}
h1.widget-title {
	@include adjust-font-size-to(1.8rem);
	a {
		color: $vcsblue;
		&:hover {
			color: $vcsgreen;
		};
	}
}
#secondary aside.widget_text h1, #secondary aside.jetpack_subscription_widget h1 {
	@include adjust-font-size-to(1.3rem);
}

// titles for search... etc
h1.page-title {
	@include rhythm-padding(0.5);


	@include gutters(3em inside);
	background-color: $vcsblue;
	color: $color__text-alt;
}

// front page
a.post-title, .tagcloud a, ul.nav-menu a {
	font-family: $font__heading, sans-serif, sans-serif;
}


h1.entry-title {
	@include rhythm-padding(0.5);
	@include gutters(1 inside);
}

// content page headings
body.single {
	div.tptn_counter, footer.entry-footer, nav.post-navigation {
		@include testing($vcsgrey);
	}
		article {
		h1, h2, h3 {
			@include rhythm(0, 0.5, 0.6, 1);
			background-color: lighten($vcs__teal-blue, 15);
			color: $color__text-alt;
			@include gutters(3em inside);
		}
		header.entry-header h1 {
			@include rhythm(0, 0.8, 1.2, 0);
			background-color: lighten($vcs__teal-blue, 20);
			color: $color__text-alt;
			@include gutters(2em inside);
		}
}
}