h1, h2, h3, h4, h5, h6 {
	clear: both;
}
h1 {
	@include adjust-font-size-to(2.5rem);
}
h2 {
	@include adjust-font-size-to(2rem);
}
h3 {
	@include adjust-font-size-to(1.8rem);
}
h4 {
	@include adjust-font-size-to(1.3rem);
}

h2.site-description {
	@include adjust-font-size-to(1.2rem);
	font-weight: bold;
	font-style: italic;
}

h1.widget-title {
	@include adjust-font-size-to(1.8rem);
}
