h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__heading, sans-serif;
}
h1 {
	@include adjust-font-size-to(2.5rem);
}
h2 {
	@include adjust-font-size-to(2rem);
}
h3 {
	@include adjust-font-size-to(1.8rem);
}
h4 {
	@include adjust-font-size-to(1.3rem);
}

h2.site-description {
	@include adjust-font-size-to(0.9rem);
//	font-weight: bold;
	font-style: italic;
	color: $color__text-input;
	text-align: left;
}
.home {
	h1.entry-title {
	@include adjust-font-size-to(36px);
	}
}
h1.widget-title {
	@include adjust-font-size-to(1.8rem);
	a {
		color: $vcsblue;
	}
}

// front page
a.post-title, .tagcloud a, ul.nav-menu a {
	font-family: $font__heading, sans-serif, sans-serif;
}