body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include adjust-font-size-to(1.6rem);
}

@font-face {
    font-family: 'PMN_Roman';
    src: url('font/pmn_caecilia_lt_55_roman-webfont.eot');
    src: url('font/pmn_caecilia_lt_55_roman-webfont.eot?iefix') format('eot'),
         url('font/pmn_caecilia_lt_55_roman-webfont.woff') format('woff'),
         url('font/pmn_caecilia_lt_55_roman-webfont.ttf') format('truetype'),
         url('font/pmn_caecilia_lt_55_roman-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */


@import "headings";
@import "copy";



