#secondary {
	aside.widget_twitter_timeline {
		clear: both;
		@include widgetify;
		@include margin-leader(1);
		overflow: hidden;
		
		h1 {
			margin-left: -0.5rem;
			margin-right: -0.5rem;
			background-color: $vcsblue;
			color: $color__text-alt;
			text-align: center;
			@include adjust-font-size-to(24px);
		}
	}
	aside.widget ul li {
		@include widgetify;
		@include adjust-font-size-to(12px);
	}
}
.widget {
	/* Make sure select elements fit in widgets */
	select {
		max-width: 100%;
	}
}


/* Search widget */
.widget_search .search-submit {
	display: none;
}
// news widget
$main-box-date-text: 2.5rem;

#main-box {
	.widget {
		ul li {
			margin-bottom: gutter();
			@include padding-leader(1);
			@include widgetify;
			position: relative;
			overflow: hidden;
			p.post-date {
				position:absolute;
				top: 0;
				left: 0;
				right: 0;
				padding: 0.05rem 0.9rem;
				background-color: $vcsblue;
				color: $color__text-alt;
			}
			p {@include margin-trailer(1.2);}
			a.read-more {
				@include span(1 of 1);
				position:absolute;
				left: 0;
				right: 0;
				bottom: 0;
				@include background-image(linear-gradient(to bottom, rgba($vcsgrey-light, 0.8), rgba($vcsgrey, 0.9)));
				&:hover {
					background-color: rgba($vcsblue, 0.94);
					color: $color__text-alt;
				}
				padding: 0.05rem 0.9rem;
				text-align: center;
				color: $color__text-screen;
				font-weight: 600;

			}
		}
	}
}
#main-long {
	aside.tribe-events-list-widget h1 {
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		background-color: $vcsblue;
		color: $color__text-alt;
		text-align: center;
		@include adjust-font-size-to(24px);
	}
	 .widget ul li {
		@include padding-leader(1.7);
		@include rhythm-margins;
		@include widgetify;
		position: relative;
		p.post-date {
			position:absolute;
			top: 0.5rem;
			left: -2rem;
			width: 35%;
			padding: 0.05rem 0.9rem;
		}
	}
}
