.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}
body.single .hentry {
	margin: 0;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

// homepage over-ride
.home .entry-content {
	margin: 0;
}

.single .entry-meta {
	@include gutters(1 inside);
}
.single .tptn_counter {
	@include gutters(1 inside);
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-content {
	margin-top: 0;
	@include gutters(2 inside);
	@include rhythm-padding(1);
//	@include margin-leader();

}

footer.entry-footer {
	@include gutters(1 inside);
}